.footer {
  width: 100%;
  background: #212630;

  .footer_top {
    width: 100%;
    border-bottom: 1px solid #444954;

    .footer_top_center {
      max-width: 1280px;
      width: 100%;
      padding: 50px;
      display: flex;
      justify-content: space-between;
      margin: auto;
      flex-wrap: wrap;

      .useful_links_container {
        display: flex;
        flex-direction: column;

        .title {
          color: $orange-text-color;
          font-weight: 500;
          text-transform: capitalize;
          font-size: 18px;
          margin-bottom: 15px;
          letter-spacing: 1px;
        }

        .link {
          color: $white-text-color;
          font-weight: 300;
          text-transform: capitalize;
          margin-bottom: 10px;
          width: fit-content;
          transition: 0.3s;

          &:hover {
            color: $orange-text-color;
          }
        }
      }

      .address_contact_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .address_container {
          .title {
            color: $orange-text-color;
            font-weight: 500;
            text-transform: capitalize;
            font-size: 18px;
            margin-bottom: 15px;
            letter-spacing: 1px;
          }

          .address {
            color: #fff;
            display: flex;
            margin-bottom: 10px;

            .icon {
              width: 20px;
              display: flex;
              justify-content: center;
            }

            .text {
              text-transform: capitalize;
              margin-left: 10px;
            }
          }
        }

        .contact_container {
          .title {
            color: $orange-text-color;
            font-weight: 500;
            text-transform: capitalize;
            font-size: 18px;
            margin-bottom: 15px;
            letter-spacing: 1px;
          }

          .number {
            color: #fff;
            display: flex;
            margin-bottom: 10px;

            .icon {
              width: 20px;
              display: flex;
              justify-content: center;
            }

            .text {
              margin-left: 10px;
              letter-spacing: 1px;
            }
          }
        }
      }

      .map_container {
        .google_map {
          width: 300px;
          height: 100%;
          border: 2px solid black;

          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .footer_bottom {
    .footer_bottom_center {
      max-width: 1280px;
      width: 100%;
      margin: auto;
      padding: 10px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .copyright_container {
        p {
          color: #fff;
          font-size: 16px;
          text-align: center;
        }
      }

      .social_icons_container {
        display: flex;
        a {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #fff;
          border-radius: 50%;
          margin-left: 10px;
          transition: 0.3s;

          i {
            color: #fff;
          }

          &:hover {
            background: $orange-text-color;
            border-color: $orange-text-color;

            i {
              color: #212630;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .footer {
    .footer_top {
      .footer_top_center {
        padding: 50px 10px;
      }
    }

    .footer_bottom {
      .footer_bottom_center {
        padding: 10px 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    .footer_top {
      .footer_top_center {
        justify-content: center;
        flex-direction: column;
        .useful_links_container {
          align-items: center;
          margin-bottom: 20px;
          .title {
            text-align: center;
          }
        }
        .address_contact_container {
          align-items: center;
          .address_container {
            margin-bottom: 20px;
            .title {
              text-align: center;
            }
          }
          .contact_container {
            margin-bottom: 20px;
            .title {
              text-align: center;
            }
          }
        }

        .map_container {
          .google_map {
            margin: auto;
            height: 200px;
          }
        }
      }
    }

    .footer_bottom {
      .footer_bottom_center {
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0;
        flex-wrap: wrap;

        .social_icons_container {
          width: 100%;
          padding: 10px 0;
          border-bottom: 1px solid #444954;
          justify-content: center;
          a {
            margin: 0 5px;
          }
        }
        .copyright_container {
          padding: 20px 0;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .footer {
    .footer_top {
      .footer_top_center {
        .map_container {
          .google_map {
            width: 100%;
          }
        }
      }
    }
  }
}
